{% extends "./base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img"
             src="{{profile_pic}}"
             alt="Default profile picture"/>
        <div class="media-body">
            <h2 class="account-heading">{{current_user.email}}</h2>
            <p class="text-secondary">{{current_user.email}}</p>
        </div>
    </div>
</div>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{update_form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="form-group">
                {{update_form.first_name.label(class="form-control-label")}}
                {% if update_form.first_name.errors %}
                {{update_form.first_name(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in update_form.first_name.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{update_form.first_name(class="form-control form-control-lg")}}
                {% endif %}

            </div>
            <div class="form-group">
                {{update_form.last_name.label(class="form-control-label")}}
                {% if update_form.last_name.errors %}
                {{update_form.last_name(class="form-control form-control-lg is-invalid ")}}
                <div class="invalid-feedback">
                    {% for error in update_form.lastname.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{update_form.last_name(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{update_form.email.label(class="form-control-label")}}
                {% if update_form.email.errors %}
                {{update_form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in update_form.email.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{update_form.email(class="form-control form-control-lg")}}
                {% endif %}
            </div>

            <div class="form-group">
                {{update_form.picture.label()}}
                {{update_form.picture(class="form-control-file")}}
                {% if update_form.picture.errors %}
                {% for error in update_form.errors %}
                <span class="text-danger">{{error}}</span><br/>
                {% endfor %}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{update_form.update(class="btn btn-outline-info")}}
        </div>
    </form>
</div>
{% endblock content %}
