{% extends "./base.html" %}
{% block title %}User Posts{% endblock title %}
{% block content %}
<article class="media content-section">
    <h1 class="mb-3">Posts by {{user.first_name}} <span class="badge">({{posts.total}})</span></h1>
</article>

{% for post in posts.items %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            Posted on
            <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>

        </div>
        <h2>
            <a class="article-title" href="{{url_for('posts_bp.post_page', post_id=post.id)}}">
                {{ post.title }}
            </a>
        </h2>

        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% if posts.has_prev %}
<a class="btn btn-outline-info mb-4 active"
   href="{{url_for('users_bp.user_posts',user_id=user.id,page=posts.prev_num)}}">Previous
</a>
{% else %}
<a class="btn btn-outline-info mb-4 disabled"
   href="{{url_for('users_bp.user_posts',user_id=user.id,page=posts.prev_num)}}">Previous</a>
{% endif %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1,left_current=1,right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-outline-info mb-4 active"
   href="{{url_for('users_bp.user_posts',user_id=user.id,page=page_num)}}">
    {{page_num}}</a>
{% else %}
<a class="btn btn-outline-info mb-4"
   href="{{url_for('users_bp.user_posts',user_id=user.id,page=page_num)}}">
    {{page_num}}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% if posts.has_next %}
<a class="btn btn-outline-info mb-4 active"
   href="{{url_for('users_bp.user_posts',user_id=user.id,page=posts.next_num)}}">Next</a>
{% else %}
<a class="btn btn-outline-info mb-4 disabled"
   href="{{url_for('users_bp.user_posts',user_id=user.id,page=posts.next_num)}}">Next</a>
{% endif %}
{% endblock content %}