{% extends "./base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<article class="media content-section">
    <h1>Posts by {{user.first_name}}</h1>
</article>
{% for post in posts %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
                Posted on
            <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>

        </div>
        <h2>
            <a class="article-title" href="{{url_for('post_page', post_id=post.id)}}">
                {{ post.title }}
            </a>
        </h2>

        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}