{% extends "./base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<h1>Reset Account Password</h1>
<div class="content-section">
    <form method="POST" action="">
        {{reset_password_form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            <div class="form-group">
                {% if reset_password_form.password.errors %}
                {{reset_password_form.password(class="form-control form-control-lg is-invalid")}}
                {% for error in reset_password_form.password.errors %}
                <div class="invalid-feedback">
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{reset_password_form.password(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {% if reset_password_form.confirm_password.errors %}
                {{reset_password_form.confirm_password(class="form-control form-control-lg
                is-invalid")}}
                {% for error in reset_password_form.confirm_password.errors %}
                <div class="invalid-feedback">
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{reset_password_form.confirm_password(class="form-control form-control-lg")}}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{reset_password_form.reset(class="btn btn-outline-info")}}
        </div>

    </form>
</div>
{% endblock content %}